<%#
{
  "title": "About",
  "description": "About page"
}
%>
<!doctype html>
<html>
<head><title><%= pageConfig.title %></title></head>
<body>
<h1>About <%= config.title %></h1>
<p>Link: <%= pageConfig.link %></p>
</body>
</html>
