<%#
{
  "type": "blog_paused",
  "date": "2025-01-25",
  "title": "Draft Post",
  "description": "A draft post"
}
%>
<!doctype html>
<html>
<head><title><%= pageConfig.title %></title></head>
<body>
<h1><%= pageConfig.title %> (Draft)</h1>
</body>
</html>
