<%#
{
  "type": "blog",
  "date": "2025-01-15",
  "title": "First Post",
  "description": "The first blog post"
}
%>
<!doctype html>
<html>
<head><title><%= pageConfig.title %></title></head>
<body>
<h1><%= pageConfig.title %></h1>
<p>Date: <%= pageConfig.date %></p>
</body>
</html>
