<%#
{
  "type": "blog",
  "date": "2025-01-20",
  "title": "Second Post",
  "description": "The second blog post"
}
%>
<!doctype html>
<html>
<head><title><%= pageConfig.title %></title></head>
<body>
<h1><%= pageConfig.title %></h1>
<p>Total blogs: <%= blogs.length %></p>
</body>
</html>
